version: '3'
services:
  traefik:
    container_name: traefik
    image: traefik:v2.5
    privileged: true
    depends_on:
      - api
      - db
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.file.filename=/etc/traefik/traefik-dynamic.yml

      # Let's Encrypt
      - --certificatesresolvers.letsencrypt.acme.tlschallenge=true
      - --certificatesresolvers.letsencrypt.acme.email=${LETSENCRYPT_EMAIL}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json

      # Listen for https on 443, and http on 80 which just redirects to https
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls.certresolver=letsencrypt
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      
    ports:
      - 443:443
      - 80:80
      - 127.0.0.1:9091:8080

    volumes:
      - ./letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik-dynamic.yml:/etc/traefik/traefik-dynamic.yml

  api:
    container_name: api
    build: ./
    restart: always
    depends_on:
      - db
    environment:
      - ROCKET_PORT=3000
      - ROCKET_ADDRESS=0.0.0.0
      - BROWSER_BASE_URL=https://${DOMAIN}
      - ROCKET_DATABASES={postgres_database={url=postgres://api:${DB_PASS}/api}}
      - JWT_EXPIRY_HOURS=${JWT_EXPIRY_HOURS}
      - JWT_SECRET=${JWT_SECRET}
      
    labels:
      - traefik.enable=true
      - traefik.http.routers.api.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.api.entrypoints=websecure
      - traefik.http.routers.api.middlewares=security-headers@file, api-headers@file

  db:
    container_name: db
    image: postgres:alpine
    restart: always
    environment:
      - POSTGRES_DB=api
      - POSTGRES_USER=api
      - POSTGRES_PASSWORD=${DB_PASS}
    volumes:
      - api-pgdata:/var/lib/postgresql/data

volumes:
  api-pgdata:
    external: true